/* Colors */
$black: #000000;
$black_1: #333333;
$grey: #bababa;
$grey_1: #e3e3e3;
$grey_2: #f5f5f2;
$green: #04ae00;
$yellow: #ffa200;
$red: #ff0000;
$links: #56819f;
$links_hover: #f58220;
$grey_font: #979797;
$header_font_color: #a6a6a6;
$menu_border: #f58220;

/* Buttons, notifications */
$button: #f58220;
$button_hover: #ffa200;
$grey_button: #979797;
$grey_button_hover: #bababa;
$positive-notification: #74b67a;
$positive-notification-light: #96cc9b;
$negative-notification: #de5252;
$negative-notification-light: #ec7171;

/* Font sizes */
$paragraph-font-size: 14px;
$section-header-font-size: 16px;
$page-header-font-size: 16px;
$small-link-font-size: 16px;
$large-link-font-size: 18px;

/* Font styles */
$header-font: "Roboto";
$paragraph-font: "Roboto";