/* ====== BANNERS STYLES ====== */

.main-content {
  display: flex;
  flex-direction: column;

  .section-banners {
    margin: 20px;
    // width: calc(100% - 201px);
    background-color: #ffffff;
    box-shadow: 0 0 8px 2px $grey;

    .banners-page-header {
      padding-left: 18px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      color: $grey_font;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid $grey_1;
    }

    .section-button {
      margin: 20px 0;
      padding: 12px 0 16px;
      justify-content: center;

      .new-button {
        padding: 5px;
        width: 120px;
        height: 40px;
        background-color: $button;
        font-size: 1em;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        outline: none;

        &:hover {
          background-color: $button_hover;
          cursor: pointer;
        }
      }
    }

    .banners-table-wrapper {
      display: flex;
      justify-content: center;

      .banners-list {
        margin: 0 auto;
        padding: 0 15x;
        width: 100%;
        max-width: 800px;

        &:last-child {
          border-bottom: 1px solid $grey_1;
        }

        .table-banners {
          width: 100%;   
          border-top: 1px solid $grey_1;   

          .banner-row {
            padding: 15px;
            height: 55px;
            align-items: center;
            border-collapse: collapse;
            transition: all .2s ease-out;           

            &:hover {
              background-color: #f1f3f3;
              
              .links-icon-wrapper {
                opacity: 1;
                
                i:hover {
                  cursor: pointer;
                }

                :first-child {
                  color: $button;
                }
              }
            }

            .single-banner-header {
              margin: 0;
              padding-left: 12px;
              font-size: $page-header-font-size;
              font-weight: 700;
              color: $grey_font;
            }

            .link-address {
              font-size: 14px;
              font-weight: 300;
              color: $links;
              text-decoration: none;

              &:hover {
                color: $links_hover;
              }
            }

            .links-icon-wrapper {
              display: flex;
              justify-content: space-evenly;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .main-content {
    .section-banners {
      .banners-table-wrapper {
        .banners-list {
          .table-banners {
            .banner-row {
              padding: 15px 0;

              .link {
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .main-content {
    padding: 20px 6px;
    width: calc(100% - 75px);
    top: 0px;
    left: 75px;

    .section-general {
      margin: 0;
      padding: 10px;

      .general-statistic-date {
        padding: 15px 0;

        .date-select {
          padding: 6px 2px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;

          .date-select-start,
          .date-select-end {
            padding: 5px 0 5px 8px;
            width: 44%;
            overflow: hidden;
            font-size: 12px;
          }

          .icon-calendar {
            margin: 0;
            padding: 2px;
            font-size: 12px;
          }
        }
      }

      .stat-numbers {
        padding: 16px 4px;

        .stat-numbers-container .statistic-earnings-chart {
          margin-top: 20px;
          padding: 0;

          .earning-chart-header {
            margin: 15px 0;
          }
        }
      }
    }

    .section-banners {
      margin: 15px 0;
      padding: 10px 6px;

      .banners-table-wrapper {
        padding: 0;

        .banners-list {
          padding: 0 4px;

          .table-banners {
            padding: 0 8px;
          
            .banner-row {
              padding: 0;
              font-size: 12px;

              .link {
                overflow: hidden;
              }

              .single-banner-header {
                padding: 0px;
                font-size: 13px;
              }

              .links-icon-wrapper {
                padding-right: 5px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}
